:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --padding: 2rem;
  --max-width: 1280px;

  /* Основные цвета интерфейса */
  --color-primary: #2563eb;         /* синий (primary) */
  --color-primary-hover: #1d4ed8;   /* синий потемнее */
  --color-secondary: #38bdf8;       /* голубой (secondary) */
  --color-accent: #0ea5e9;          /* насыщенный голубой */
  
  /* Фоновые цвета */
  --color-background: #ecf0f5c7;      /* светлый фон */
  --color-surface: #ffffff;         /* белый фон карточек */
  --color-hover: #f1f5f9;           /* hover для кнопок и полей */

  /* Цвета текста */
  --color-text-primary: #0f172a;    /* почти чёрный */
  --color-text-secondary: #475569;  /* тёмно-серый */
  --color-text-inverse: #ffffff;    /* для кнопок на синем фоне */
  --color-text-spec: #b2bfd0;

  /* Системные цвета */
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
