.itemContainer {
    display: flex;
    gap: 1rem;
    padding: 0.7rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selected {
    background-color: var(--color-primary);
    color: white;
}

.channelName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
