.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0;
    border: none;
}

.default {
    background-color: transparent;
    color: var(--color-text-primary);
}

.defaultChannel {
    justify-content: flex-start;
    min-width: 0;
}

.defaultToggle {
    justify-content: center;
    max-width: 3rem;
    min-width: 3rem;
    flex-shrink: 0;
}

.channelName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    min-width: 0;
}
